# `pandas` 练习1

一些可以参考的教程

- [10 minutes to pandas](http://pandas.pydata.org/pandas-docs/stable/10min.html)
- [pandas basics](http://pandas.pydata.org/pandas-docs/stable/basics.html)
- [tutorials](http://pandas.pydata.org/pandas-docs/stable/tutorials.html)
- [cookbook and idioms](http://pandas.pydata.org/pandas-docs/stable/cookbook.html#cookbook)

**1.** 用 `pd` 这个简称 import `pandas`

In [2]:
import pandas as pd

**2.** 打印出 `pandas` 的版本

In [3]:
pd.__version__

'0.20.1'

**3.** 打印出 `pandas` 版本信息和依存的库

In [4]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit: None
python: 3.5.3.final.0
python-bits: 64
OS: Windows
OS-release: 10
machine: AMD64
processor: Intel64 Family 6 Model 60 Stepping 3, GenuineIntel
byteorder: little
LC_ALL: None
LANG: None
LOCALE: None.None

pandas: 0.20.1
pytest: 3.0.7
pip: 9.0.1
setuptools: 35.0.0
Cython: 0.25.2
numpy: 1.12.1
scipy: 0.19.0
xarray: None
IPython: 5.3.0
sphinx: 1.5.6
patsy: 0.4.1
dateutil: 2.6.0
pytz: 2017.2
blosc: None
bottleneck: 1.2.1
tables: 3.2.2
numexpr: 2.6.2
feather: None
matplotlib: 2.0.2
openpyxl: 2.4.7
xlrd: 1.0.0
xlwt: 1.2.0
xlsxwriter: 0.9.6
lxml: 3.7.3
bs4: 4.6.0
html5lib: 0.999
sqlalchemy: 1.1.9
pymysql: None
psycopg2: None
jinja2: 2.9.6
s3fs: None
pandas_gbq: None
pandas_datareader: None

In [3]:
import numpy as np

## DataFrame

记得先import `numpy`
```python
import numpy as np
```

给定一个字典 `data` 和列表 `labels`:

``` python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
```

**4.** 以 `df` 为名, 创建一个 DataFrame, 其数据为 `data` ,  每行的索引是 `labels`.

In [5]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [14]:
import pandas as pd
df = pd.DataFrame(data=data, index=labels)
df

   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
c  0.5  snake       no       2
d  NaN    dog      yes       3
e  5.0    dog       no       2
f  2.0    cat       no       3
g  4.5  snake       no       1
h  NaN    cat      yes       1
i  7.0    dog       no       2
j  3.0    dog       no       1

**5.** 把`df`的基本信息, 诸如平均值, 方差, 每一列元素个数打印出来

In [16]:
df.describe(include='all')

             age animal priority     visits
count   8.000000     10       10  10.000000
unique       NaN      3        2        NaN
top          NaN    dog       no        NaN
freq         NaN      4        6        NaN
mean    3.437500    NaN      NaN   1.900000
std     2.007797    NaN      NaN   0.875595
min     0.500000    NaN      NaN   1.000000
25%     2.375000    NaN      NaN   1.000000
50%     3.000000    NaN      NaN   2.000000
75%     4.625000    NaN      NaN   2.750000
max     7.000000    NaN      NaN   3.000000

**6.** 返回 DataFrame `df` 的前三行

In [18]:
df.iloc[:3,:]

   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
c  0.5  snake       no       2

**7.** 从 DataFrame `df` 里选出 'animal' 列和 'age' 列

In [22]:
#### 1 ######
df[['animal', 'age']]

#### 2 ######
df.loc[:, ['animal', 'age']]

#### 3 不推荐 ####
df.iloc[:, [1, 0]]

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

**8.** 将 `['animal', 'age']` 列中的第 `[3, 4, 8]` 行选出

In [29]:
#### 1 ######
df[['animal', 'age']].iloc[[3,4,8], :]


#### 2 ######
#### loc 使用 row index 和 column index
df.loc[df.index.values[[3, 4, 8]], ['animal', 'age']]

row_index = df.index
column_index = df.columns

In [30]:
row_index

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

In [32]:
row_index.values

array(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype=object)

In [31]:
column_index

Index(['age', 'animal', 'priority', 'visits'], dtype='object')

In [33]:
column_index.values

array(['age', 'animal', 'priority', 'visits'], dtype=object)

**9.** 选出 `'visits'` 大于等于 3的前两行

In [47]:
df[df['visits'] >= 3].iloc[:2]

df.loc[df['visits'] >= 3, :].iloc[:2]

   age animal priority  visits
b  3.0    cat      yes       3
d  NaN    dog      yes       3

**10.** 选出 `'age'`缺失的所有行 , 该行的 `age` 是 `NaN`.

In [58]:
df[df['age'].isnull()]

   age animal priority  visits
d  NaN    dog      yes       3
h  NaN    cat      yes       1

**11.** 选出所有 age <= 3 且animal为 cat 的行

In [67]:
df[(df['age']<=3) & (df['animal']=='cat')]

   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
c  0.5  snake       no       2
f  2.0    cat       no       3
h  NaN    cat      yes       1
j  3.0    dog       no       1

**12.** 选出所有 2 <= age <= 4

In [71]:
df[(df['age']>=2) & (df['age']<=4)]

   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
f  2.0    cat       no       3
j  3.0    dog       no       1

**13.** 将列'f' 的 'age'设为 1.5.

In [79]:
### 改dataframe 使用 loc
df.loc['f', 'age'] = 1.5
df

   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
c  0.5  snake       no       2
d  NaN    dog      yes       3
e  5.0    dog       no       2
f  1.5    cat       no       3
g  4.5  snake       no       1
h  NaN    cat      yes       1
i  7.0    dog       no       2
j  3.0    dog       no       1

**14.** 计算 `'visitis'`的总数

In [81]:
df['visits'].sum()

19

In [82]:
df['visits'].value_counts()

1    4
3    3
2    3
Name: visits, dtype: int64

**15.** 计算各类 `animal` 在 `df` 中的平均年龄

In [100]:
df.groupby('animal')['age'].mean()

animal
cat      2.333333
dog      5.000000
snake    2.500000
Name: age, dtype: float64

**16.** 在`df` 中加入新的一行, 其索引为 'k', 每一列的值可以任意输入. 之后去掉这一行并将去掉这一行 `DataFrame` 赋给 `df`

In [105]:
df.loc['k'] = None
dropped = df.drop('k', axis=0)
dropped

   age animal priority  visits
a  2.5    cat      yes     1.0
b  3.0    cat      yes     3.0
c  0.5  snake       no     2.0
d  NaN    dog      yes     3.0
e  5.0    dog       no     2.0
f  1.5    cat       no     3.0
g  4.5  snake       no     1.0
h  NaN    cat      yes     1.0
i  7.0    dog       no     2.0
j  3.0    dog       no     1.0

**17.** 数出不同类型 `animal` 在 `df` 中出现的个数

In [110]:
df['animal'].value_counts()

dog      4
cat      4
snake    2
Name: animal, dtype: int64

**18.** 先将 `df` 按照 'age'按降序排序, 随后按 'visit' 的升序对 `df` 排序

In [117]:
df.sort_values?

In [126]:
df.sort_values(by='age', ascending=False).sort_values(by='visits')

   age animal priority  visits
g  4.5  snake       no     1.0
j  3.0    dog       no     1.0
a  2.5    cat      yes     1.0
h  NaN    cat      yes     1.0
i  7.0    dog       no     2.0
e  5.0    dog       no     2.0
c  0.5  snake       no     2.0
b  3.0    cat      yes     3.0
f  1.5    cat       no     3.0
d  NaN    dog      yes     3.0
k  NaN   None     None     NaN

**19.** 将列 'priority' 里的 'yes' and 'no' 分别替换为 `True` 和 `False`.

`inplace=True` 即是在原DataFrame里替换

In [139]:
df.loc[:, 'priority'].replace(to_replace={'yes':True, 'no':False}, inplace=True)
df

   age  animal priority  visits
a  2.5     cat     True     1.0
b  3.0     cat     True     3.0
c  0.5  python    False     2.0
d  NaN     dog     True     3.0
e  5.0     dog    False     2.0
f  1.5     cat    False     3.0
g  4.5  python    False     1.0
h  NaN     cat     True     1.0
i  7.0     dog    False     2.0
j  3.0     dog    False     1.0
k  NaN    None     None     NaN

In [132]:
df.loc[:, 'priority']= df.loc[:, 'priority'].replace(
    to_replace='yes', value=True)
df.loc[:, 'priority']= df.loc[:, 'priority'].replace(
    to_replace='no', value=False)
df

   age animal priority  visits
a  2.5    cat     True     1.0
b  3.0    cat     True     3.0
c  0.5  snake    False     2.0
d  NaN    dog     True     3.0
e  5.0    dog    False     2.0
f  1.5    cat    False     3.0
g  4.5  snake    False     1.0
h  NaN    cat     True     1.0
i  7.0    dog    False     2.0
j  3.0    dog    False     1.0
k  NaN   None     None     NaN

**20.** 在列 'animal' 中, 将所有 'snake' 替换为 'python'.

In [137]:
df.loc[:, 'animal']= df.loc[:, 'animal'].replace(
    to_replace={'snake':'python'})
df

   age  animal priority  visits
a  2.5     cat     True     1.0
b  3.0     cat     True     3.0
c  0.5  python    False     2.0
d  NaN     dog     True     3.0
e  5.0     dog    False     2.0
f  1.5     cat    False     3.0
g  4.5  python    False     1.0
h  NaN     cat     True     1.0
i  7.0     dog    False     2.0
j  3.0     dog    False     1.0
k  NaN    None     None     NaN